.contacts__title {
  @include font-set(700, 25px, 30px);
  color: $color-text-title;
}

.contacts__text {
  @include font-set(400, 14px, 30px);
  color: $color-text-second;
}

.contacts__link {
  text-decoration: none;
}
