.page-main-title {
  @include font(700, 27px, 30px);
  color: $color-text-title;
  background-color: $color-bg-dark;

  &--index {
    background-image: url("../../img/hero-mobile2x1.jpg");
    background-repeat: no-repeat;
  }
}
