.production__title {
  @include font-set(700, 17px, 24px);
  color: $color-text-title;
}

.production__text {
  @include font-set(400, 13px, 24px);
  color: $color-text-second;
}

.production__order-button {
  @include font-set(700, 18px, 16px);
  text-decoration: none;
}
